

.navleiste{
	margin-top: 50px;
/* 	margin-left: 20px; */
	background-color:  #ffffff ;
	position: fixed;
	border-radius: 2px;
	z-index:3;
	width: 100%;
}
.fu1{
	margin-top: 50px;
	margin-right: 10px;
    z-index:4;
}
.cons{
	height: 100px;
}
.dpd{
	margin-left: 20px;
	}
.dpd-info{
	margin-right: 20px;
}
.dpd-iso{

	border:thin;
	border-color: black;
	vertical-align: middle;
	background-color: rgba(52, 83, 223, 0.5);
	border-radius: 1px;
	font-size: 1.6em;

}

.navback{
	margin-top: 0px;
	margin-left: 0px;
	background-color: #536DFE ;
	height: 50px;
	width: 100%;
	position: fixed;
	
	z-index:2;
}
.navtext{
	margin-top: 16px;
	margin-bottom: auto;
}
.navbut{
	height: 50px;
	font-family: Verdana, 'Lucida Sans Unicode', sans-serif
}
.navbut:hover{
	background-color: rgba(97,87,74,0.14);
	border: thin aqua;
}
.pan:hover{
	background-color: rgba(31,0,255,0.02);
}
.pan{
	border-color: #C5CAE9 ;
	border: thin line;	
}
.panueber{
	text-align: center;
}
.pantext{
	margin-left: 30px;
}
.con{
	margin-top: 50px;
}
.box{
	height: 200px;
	width: 200px;
	border: 1px ridge black;
}

/*

#drag-1, #drag-2 {
  width: 25%;
  height: 100%;
  min-height: 6.5em;
  margin: 10%;

  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
*/

.content{
	
	margin-top: 75px;
	
}

.test{

	min-width: 40px;
}

input[type=range][orient=vertical]
{
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 175px;
	padding: 0 5px;
}

.car{
	height: 140px;

	background-color: #2aabd2;

}

#progresstest1.transform {
	-moz-transform: rotate(180deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform: rotate(180deg); /* Safari */
	-o-transform: rotate(180deg); /* Opera */
	-ms-transform: rotate(180deg); /* IE9 */
	transform: rotate(180deg); /* W3C */
}







/* Palette generated by Material Palette - materialpalette.com/blue-grey/light-green */

.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

