*.idea/
.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/OS.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/jsLibraryMappings.xml

.idea/codeStyleSettings.xml
*
!*.c
!Makefile